@import 'mixins';

.banniere {
  @include banniere;
  @include full-width;
  margin-bottom: 50px;
  @include black-background;
  @include border-radius(25px);
  @media (max-width: 640px) {
    margin-bottom: 30px;
  }
  .banniere-image {
    @include full-width;
    height: 223px;
    @include border-radius(25px);
    object-fit: cover;
    filter: brightness(0.6);
    @media (max-width: 640px) {
      height: 111px;
    }
  }
}
