@import 'mixins';

.banner {
  @include banniere;
  @include full-width;
  margin-bottom: 50px;
  @include border-radius(25);
  @media (max-width: 640px) {
    text-align: left;
    margin-bottom: 20px;
  }
  .banner-image {
    @include full-width;
    height: 223px;
    @include border-radius(25);
    object-fit: cover;
    filter: brightness(0.5);
  }
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include size(48);
    @include weight(700);
    @include family;
    box-shadow: 0px 4px 4px 0px #00000000;
    @include text-white;
    @media (max-width: 640px) {
      @include size(24);
      left: 38%;
    }
  }
}
