@import 'mixins';

.card {
  position: relative;
  overflow: hidden;
  @include border-radius(10px);

  .card-image {
    width: 340px;
    height: 340px;
    object-fit: cover;
    @include border-radius(10px);
    @media (max-width: 640px) {
      @include full-width;
      margin-bottom: 20px;
    }
  }
  .card-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white !important;
    @include size(18);
    @include weight(700);
    @include family;
    width: 50%;
  }
}
