.collapseAPropos {
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 30px;
  .collapseAPropos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 15px;
    background-color: #ff6060;
    cursor: pointer;
    border-radius: 5px;
  }
  h2 {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
  }
  .collapseAPropos-icon {
    width: 24px;
    transition: transform 0.3s ease;
  }
  .rotate {
    transform: rotate(-180deg);
  }
  .collapseAPropos-content {
    width: 1023px;
    border-radius: 0px 0px 5px 5px;
    max-height: 0;
    padding: 0 20px;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: #f6f6f673;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
    &.open {
      max-height: 500px;
      margin-top: -29px;
    }
  }
}
