@import 'mixins';

.footer {
  @include flex-column-center;
  justify-content: center;
  padding-top: 68px;
  padding-bottom: 20px;
  @include full-width;
  @include black-background;
  .footer-logo {
    width: 122px;
    height: auto;
  }
  .footer-text {
    @include text-white;
    @include size(24);
    margin-top: 40px;
    text-align: center;
    @include weight(500);
    @include family;
  }
  @media (max-width: 640px) {
    .footer-text {
      text-align: center;
      margin-right: 20%;
      margin-left: 20%;
    }
  }
}
