@import 'mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  padding: 0;
  @include margins;
  margin-top: 50px;
  .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-item {
    margin-left: 2rem;
  }
  .nav-link {
    text-decoration: none;
    color: #333;
    @include weight(500);
    @include size(24px);
    line-height: 34px;
  }
  .nav-link:hover,
  .nav-link.active {
    text-decoration: underline;
  }
  @media (max-width: 640px) {
    margin: 20px;
    .nav-link {
      text-transform: uppercase;
      @include size(12px);
      line-height: 17px;
    }
  }
}
