@import 'mixins';

.home {
  @include flex-column-center;
  @include margins;
  @media (max-width: 640px) {
    margin: 20px;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include full-width;
    background-color: #f6f6f6;
    @include border-radius(25px);
    padding-bottom: 50px;
    @media (max-width: 640px) {
      background-color: white;
    }
  }
  .card-link {
    margin-top: 50px;
    @media (max-width: 640px) {
      margin: 0;
    }
  }
  .card-link:last-child {
    margin-left: -400px;
    @media (max-width: 640px) {
      margin-left: 0px;
    }
  }
}
