@mixin black-background {
  background-color: black;
}
@mixin text-white {
  color: white;
}
@mixin margins {
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
}
@mixin responsive-margin {
  @media (max-width: 640px) {
    margin: 20px;
  }
}
@mixin size($size) {
  font-size: $size;
}
@mixin weight($weight) {
  font-weight: $weight;
}
@mixin family {
  font-family: 'Montserrat';
}
@mixin border-radius($px) {
  border-radius: $px;
}
@mixin full-width {
  width: 100%;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin banniere {
  position: relative;
  text-align: center;
}
