@import 'mixins';

.slideshow {
  position: relative;
  height: 415px;
  overflow: hidden;
  @include border-radius(10px);
  @media (max-width: 640px) {
    height: 255px;
  }

  .slideshow-image {
    @include full-width;
    height: 100%;
    object-fit: cover;
  }

  .slideshow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    @include text-white;
    border: none;
    cursor: pointer;
    font-size: 120px;
    @media (max-width: 640px) {
      @include size(60px);
    }
    &-left {
      left: 10px;
    }
    &-right {
      right: 10px;
    }
  }
  .slideshow-index {
    position: absolute;
    bottom: 10px;
    left: 50%;
    background-color: transparent;
    @include text-white;
    padding: 5px 10px;
    @include weight(500);
    @include size(18px);
    @media (max-width: 640px) {
      display: none;
    }
  }
}
