.slideshow {
  position: relative;
  height: 415px;
  overflow: hidden;
  border-radius: 10px;

  .slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slideshow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 120px;
    &-left {
      left: 10px;
    }
    &-right {
      right: 10px;
    }
  }
  .slideshow-index {
    position: absolute;
    bottom: 10px;
    left: 50%;
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
  }
}
